flask-sqlalchemy==3.1.1
flask-cors==3.0.10
flask==2.2.5
pyyaml
python-gitlab
openai==1.8.0
aliyun-python-sdk-core
aliyun-python-sdk-eci
alembic
paypalrestsdk
alipay-sdk-python==3.6.640
typed_ast
click
httpx
alibabacloud_dysmsapi20170525
certifi
apscheduler
flask-limiter
boto3
# yum install mysql-devel gcc gcc-devel python-devel
# mysqlclient
security==1.2.1 \
    --hash=sha256:4ca5f8cfc6b836e2192a84bb5a28b72c17f3cd1abbfe3281f917394c6e6c9238
    --hash=sha256:0a9dc7b457330e6d0f92bdae3603fecb85394beefad0fd3b5058758a58781ded
